<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">
<head th:replace="~{fragment/head :: head}"></head>

<body class="d-flex flex-column min-vh-100">
<nav th:replace="~{fragment/navbar :: navbar}"></nav>

<div class="container flex-grow-1">
    <div class="row mt-3">
        <div class="col-md-9 p-3">

            <ul class="list-group list-group-flush" id="cart">
                <!-- Loop through cart items -->
                <li class="list-group-item d-flex" th:each="item : ${cartItems}" th:data-cart-id="${item.id}">
                    <img th:src="@{'/images/product/' + ${item.product.files[0]}}" alt="" class="icon-md"/>
                    <div class="ms-4 d-flex justify-content-between align-items-center flex-grow-1">
                        <div class="d-flex flex-column">
                            <p class="h6" th:text="${item.product.name}"></p>

                            <div class="d-flex">

                                <img th:src="@{'/image/wishlist.png'}" alt="wishlist" class="icon me-2"
                                     th:data-cart-id="${item.id}" title="wishlist"/>
                                <img th:src="@{'/image/delete.svg'}" alt="delete" class="icon delete-btn"
                                     th:data-cart-id="${item.id}" title="delete"/>
                            </div>
                        </div>

                        <div class="btn-group" role="group" aria-label="Quantity controls">
                            <button type="submit" class="quantity_btn increment-btn">+</button>
                            <input
                                    type="text"
                                    th:value="${item.quantity}"
                                    class="quantity_field"
                                    title="Please enter a value between 1 and 99"
                                    min="1"
                                    max="99"
                            />
                            <button type="submit" class="quantity_btn decrement-btn">-</button>
                        </div>

                        <div>
                            <p class="m-0">
                                <span th:text="${CURRENCY_SYMBOL}" th:if="${CURRENCY_POSITION == 'before'}"></span>
                                <span class="ms-1 item-price fw-bold"
                                      th:text="${numberFormater.format(item.getTotalPrice())}"></span>
                                <span th:text="${CURRENCY_SYMBOL}" th:if="${CURRENCY_POSITION == 'after'}"></span>
                            </p>
                            <p th:if="${item.getActualTotalPrice() != item.getTotalPrice()}" class="m-0">
                                <span th:text="${CURRENCY_SYMBOL}" th:if="${CURRENCY_POSITION == 'before'}"></span>
                                <span class="ms-1 item-actual-price text-danger text-decoration-line-through fw-bold"
                                      th:text="${numberFormater.format(item.getActualTotalPrice())}"></span>
                                <span th:text="${CURRENCY_SYMBOL}" th:if="${CURRENCY_POSITION == 'after'}"></span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="p-3 card">
                <div class="d-flex justify-content-end">
                    <a th:href="@{/address}" title="edit address" class="fw-bold text-primary">
                        Change
                    </a>
                </div>
                <div th:if="${noActiveAddress}" class="alert alert-danger">
                    <span th:text="${message}"></span>
                </div>

                <div th:unless="${noActiveAddress}">
                    <h3>
                        <span th:text="${activeAddress.country.name}"></span>,
                        <span th:text="${activeAddress.state.name}"></span>,
                        <span th:text="${activeAddress.city}"></span>
                    </h3>
                    <p th:text="${activeAddress.address}" class="text-muted my-2"></p>
                    <p>
                        <span th:text="${activeAddress.phoneNumber}"></span>,
                        <span th:text="${activeAddress.alternativePhoneNumber}"></span>
                    </p>
                </div>

                <p th:if="${shippingAvailable}" class="d-flex align-items-center">
                    <img th:src="@{'/image/yes.png'}" alt="ok" class="icon" title="available"/>
                    <span class="text-success ms-1">Shipping available</span>
                </p>
                <p th:unless="${shippingAvailable}" class="d-flex align-items-center">
                    <img th:src="@{'/image/no.png'}" alt="ok" class="icon" title="Not available"/>
                    <span class="text-danger ms-1">Shipping is not available in this area</span>
                </p>
            </div>
            <div class="p-3 card mt-2">
                <h5 class="m-0">Checkout Summery :</h5>
                <hr/>
                <p class="dashed_hr d-flex justify-content-between align-items-center">
                    <span>
                        Product Total :
                    </span>
                    <span>
                        <span th:text="${CURRENCY_SYMBOL}" th:if="${CURRENCY_POSITION == 'before'}"></span>
                        <span th:text="${totalItemsPrice}" class="ms-1" id="totalItemsPrice"></span>
                        <span th:if="${CURRENCY_POSITION == 'after'}" th:text="${CURRENCY_SYMBOL}"></span>
                    </span>
                </p>
                <p class="dashed_hr d-flex justify-content-between align-items-center" th:if="${shippingAvailable}">
                    <span>
                        Shipping Total :
                    </span>
                    <span>
                        <span th:text="${CURRENCY_SYMBOL}" th:if="${CURRENCY_POSITION == 'before'}"></span>
                        <span th:text="${shipping.rate}" class="ms-1"></span>
                        <span th:if="${CURRENCY_POSITION == 'after'}" th:text="${CURRENCY_SYMBOL}"></span>
                    </span>
                </p>
                <p class="d-flex justify-content-between align-items-center">
                    <span class="fw-bold">
                        Payment Total :
                    </span>
                    <span>
                        <span th:text="${CURRENCY_SYMBOL}" th:if="${CURRENCY_POSITION == 'before'}"></span>
                        <span th:text="${paymentTotal}" class="ms-1" id="paymentTotal"></span>
                        <span th:if="${CURRENCY_POSITION == 'after'}" th:text="${CURRENCY_SYMBOL}"></span>
                    </span>
                </p>
                <button class="btn btn-primary" th:disabled="${!shippingAvailable or noActiveAddress}">Checkout</button>
            </div>
        </div>
    </div>
</div>
<div id="toastContainer" class="toast-container position-fixed bottom-0 end-0 p-3"></div>
<footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
<script th:inline="javascript">
    const pathContext = /*[[@{/}]]*/ "/Shopme/";
</script>
<script th:src="@{/js/cart_page.js}"></script>
</html>
