<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head th:replace="~{fragment/head :: head}">
</head>
<body>
<nav th:replace="~{fragment/navbar :: navbar}"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h1>Hi <span sec:authentication="principal.username"></span></h1>
            <p>Role: <span sec:authentication="principal.authorities"></span></p>
        </div>
    </div>
</div>
<footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
</html>