<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">
<head th:replace="~{fragment/head :: head}">
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="~{fragment/navbar :: navbar}"></nav>

<div class="container-fluid flex-grow-1">
    <div class="row my-2">
        <div class="col-sm-12 col-md-8 mx-auto">
            <form class="card p-2 mx-auto" th:action="@{'/products/save'}"
                  method="post" th:object="${product}" enctype="multipart/form-data">
                <h2
                        class="my-3 text-primary d-flex justify-content-center align-items-center">Create New Product
                </h2>
                <div class="alert"
                     th:classappend="${savedSuccessfully} ? 'alert-success' : 'alert-danger'"
                     th:if="${savingProduct}">
                    <span th:text="${message}"></span>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"/> <input type="hidden" name="id"
                                                          th:value="*{id}"/> <input type="hidden" name="updating"
                                                                                    th:value="${updatingProduct}"/>
                <!--        Fields Starts Here        -->
                <div class="accordion" id="formAccordion">

                    <!--        Basic Accordion Item Starts            -->
                    <div class="accordion-item p-2">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#basicTab" aria-expanded="true" aria-controls="basicTab">
                                Basic
                            </button>
                        </h2>

                        <div id="basicTab" class="accordion-collapse collapse show row" data-bs-parent="#formAccordion">

                            <!--           Basic Accordion Left Starts                 -->
                            <div class="col-md-6 p-2">
                                <div>
                                    <label for="name">Name*</label>
                                    <input type="text"
                                           class="form-control" name="name"
                                           id="name"
                                           th:field="*{name}" min="2" max="200" required/>
                                </div>
                                <br/>
                                <div>
                                    <label for="alias">Alias*</label>
                                    <input type="text"
                                           class="form-control" name="alias"
                                           id="alias"
                                           th:field="*{alias}" min="2" max="200" required/>
                                </div>
                                <br/>
                                <div>
                                    <label for="quantity">Quantity*</label>
                                    <input type="text"
                                           class="form-control" name="quantity"
                                           id="quantity"
                                           th:field="*{quantity}" required/>
                                </div>
                                <br/>
                                <div>
                                    <input type="checkbox" name="enabled" id="enabled"
                                           th:field="*{enabled}"/> <label for="enabled">Enabled</label>
                                </div>
                                <br/>
                            </div>
                            <!--           Basic Accordion Left Ends                 -->
                            <!--           Basic Accordion Right Starts                 -->
                            <div class="col-md-6 p-2">
                                <div>
                                    <label for="cost">Cost*</label>
                                    <input type="number"
                                           class="form-control" name="cost"
                                           id="cost"
                                           th:field="*{cost}" required/>
                                </div>
                                <br/>
                                <div>
                                    <label for="price">Price*</label>
                                    <input type="number"
                                           class="form-control" name="price"
                                           id="price"
                                           th:field="*{price}" required/>
                                </div>
                                <br/>
                                <div>
                                    <label for="discountPrice">Discount Price*</label>
                                    <input type="number"
                                           class="form-control" name="discountPrice"
                                           id="discountPrice"
                                           th:field="*{discountPrice}" required/>
                                </div>
                                <br/>
                            </div>
                            <!--           Basic Accordion Right Ends                 -->
                        </div>

                    </div>
                    <!--        Basic Accordion Item Ends            -->
                    <!--        Shape Accordion Item Starts            -->
                    <div class="accordion-item p-2">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#shapeTab" aria-expanded="true" aria-controls="shapeTab">
                                Shipping
                            </button>
                        </h2>

                        <div id="shapeTab" class="accordion-collapse collapse show row" data-bs-parent="#formAccordion">

                            <!--           Shape Accordion Left Starts                 -->
                            <div class="col-md-6 p-2">
                                <div>
                                    <label for="length">Length(inch)*</label>
                                    <input type="number"
                                           class="form-control" name="length"
                                           id="length"
                                           th:field="*{length}" required/>
                                </div>
                                <br/>
                                <div>
                                    <label for="weight">Weight(pound)*</label>
                                    <input type="number"
                                           class="form-control" name="weight"
                                           id="weight"
                                           th:field="*{weight}" required/>
                                </div>
                            </div>
                            <!--           Shape Accordion Left Ends                 -->
                            <!--           Shape Accordion Right Starts                 -->
                            <div class="col-md-6 p-2">
                                <div>
                                    <label for="width">Width(inch)*</label>
                                    <input type="number"
                                           class="form-control" name="width"
                                           id="width"
                                           th:field="*{width}" required/>
                                </div>
                                <br/>
                                <div>
                                    <label for="height">Height(inch)*</label>
                                    <input type="number"
                                           class="form-control" name="height"
                                           id="height"
                                           th:field="*{height}" required/>
                                </div>
                            </div>
                            <!--           Shape Accordion Right Ends                 -->
                        </div>

                    </div>
                    <!--        Shape Accordion Item Ends            -->
                    <!--        Section Accordion Item Starts            -->
                    <div class="accordion-item p-2">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#sectionTab" aria-expanded="true" aria-controls="sectionTab">
                                Section
                            </button>
                        </h2>

                        <div id="sectionTab" class="accordion-collapse collapse show row"
                             data-bs-parent="#formAccordion">

                            <!--           Section Accordion Left Starts                 -->
                            <div class="col-md-6 p-2">
                                <label for="category">Category*</label><br/>
                                <select name="category"
                                        id="category" th:field="*{category}"
                                        class="form-control" required>
                                    <option th:each="category:${categories}" th:text="${category.name}"
                                            th:value="${category.name}"></option>
                                </select>
                            </div>
                            <!--           Section Accordion Left Ends                 -->
                            <!--           Section Accordion Right Starts                 -->
                            <div class="col-md-6 p-2">
                                <label for="brand">Brand*</label><br/>
                                <select name="brand"
                                        id="brand" th:field="*{brand}"
                                        class="form-control" required>
                                    <option value="">--No Brand--</option>
                                    <option th:each="brand:${brands}" th:text="${brand.name}"
                                            th:value="${brand.name}"></option>
                                </select>
                            </div>
                            <!--           Section Accordion Right Ends                 -->
                        </div>

                    </div>
                    <!--        Section Accordion Item Ends            -->
                    <!--        Description Accordion Item Starts            -->
                    <div class="accordion-item p-2">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#descriptionTab" aria-expanded="true"
                                    aria-controls="descriptionTab">
                                Description
                            </button>
                        </h2>

                        <div id="descriptionTab" class="accordion-collapse collapse show row"
                             data-bs-parent="#formAccordion">

                            <!--           Description Accordion Left Starts                 -->
                            <div class="col-md-6 p-2">
                                <label for="shortDescription">Short Description*</label><br/>
                                <textarea name="shortDescription" id="shortDescription" class="form-control"
                                          th:field="*{shortDescription}" rows="10" required></textarea>
                            </div>
                            <!--           Description Accordion Left Ends                 -->
                            <!--           Description Accordion Right Starts                 -->
                            <div class="col-md-6 p-2">
                                <label for="fullDescription">Full Description</label><br/>
                                <textarea name="fullDescription" id="fullDescription" class="form-control"
                                          th:field="*{fullDescription}" rows="10"></textarea>
                            </div>
                            <!--           Description Accordion Right Ends                 -->
                        </div>

                    </div>
                    <!--        Description Accordion Item Ends            -->
                    <!--        Images Accordion Item Starts            -->
                    <div class="accordion-item p-2">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#imagesTab" aria-expanded="true"
                                    aria-controls="imagesTab">
                                Images
                            </button>
                        </h2>

                        <div id="imagesTab" class="accordion-collapse collapse show row"
                             data-bs-parent="#formAccordion">

                            <!--           Images Accordion Left Starts                 -->
                            <div class="col-md-6 p-2">
                                <div>
                                    <label for="firstImage">First Image</label>
                                    <input type="file" name="firstImage" id="firstImage" class="form-control"
                                           accept=".svg, .jpg, .jpeg, .png"/>
                                </div>
                                <br/>
                                <div>
                                    <label for="secondImage">Second Image</label>
                                    <input type="file" name="secondImage" id="secondImage" class="form-control"
                                           accept=".svg, .jpg, .jpeg, .png"/>
                                </div>
                            </div>
                            <!--           Images Accordion Left Ends                 -->
                            <!--           Images Accordion Right Starts                 -->
                            <div class="col-md-6 p-2">
                                <div>
                                    <label for="thirdImage">Third Image</label>
                                    <input type="file" name="thirdImage" id="thirdImage" class="form-control"
                                           accept=".svg, .jpg, .jpeg, .png"/>
                                </div>
                                <br/>
                                <div>
                                    <label for="fourthImage">Fourth Image</label>
                                    <input type="file" name="fourthImage" id="fourthImage" class="form-control"
                                           accept=".svg, .jpg, .jpeg, .png"/>
                                </div>
                            </div>
                            <!--           Images Accordion Right Ends                 -->
                        </div>

                    </div>
                    <!--        Images Accordion Item Ends            -->
                </div>
                <br/>
                <!--        Fields Ends Here        -->
                <div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-danger">Clean</button>
                </div>
            </form>
        </div>
    </div>
</div>

 <footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
</html>