<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">
<head th:replace="~{fragment/head :: head}">
</head>
<body>
<nav th:replace="~{fragment/navbar :: navbar}"></nav>

<div class="container-fluid">
    <div class="row my-2">
        <div class="col-sm-12 col-md-8 mx-auto card p-2">
            <h2
                    class="my-3 text-primary d-flex justify-content-center align-items-center">Site Setting
            </h2>
            <div class="alert"
                 th:classappend="${savedSuccessfully} ? 'alert-success' : 'alert-danger'"
                 th:if="${savingSetting}">
                <span th:text="${message}"></span>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>
            <div class="accordion" id="formAccordion">
                <!--        General Tab Starts           -->
                <div class="accordion-item p-2">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#generalTab" aria-expanded="true" aria-controls="generalTab">
                            General
                        </button>
                    </h2>
                    <div th:replace="~{fragment/setting/generalSetting :: generalSetting(${currencies},${generalSetting})}">
                    </div>
                </div>
                <!--        General Tab Ends           -->
                <!--        Countries Tab Starts           -->
                <div class="accordion-item p-2">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#countriesTab" aria-expanded="true" aria-controls="countriesTab">
                            Countries
                        </button>
                    </h2>
                    <div th:replace="~{fragment/setting/countrySetting :: countrySetting(${countries})}">
                    </div>
                </div>
                <!--        Countries Tab Ends           -->
                <!--        States Tab Starts           -->
                <div class="accordion-item p-2">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#statesTab" aria-expanded="true" aria-controls="statesTab">
                            States
                        </button>
                    </h2>
                    <div th:replace="~{fragment/setting/stateSetting :: stateSetting(${countries},${states})}">
                    </div>
                </div>
                <!--        States Tab Ends           -->
                <!--        Mail Server Tab Starts           -->
                <div class="accordion-item p-2">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#mailServerTab" aria-expanded="true" aria-controls="mailServerTab">
                            Mail Server
                        </button>
                    </h2>
                    <div  th:replace="~{fragment/setting/mailServerSetting :: mailServerSetting(${mailServerSetting})}">
                    </div>
                </div>
                <!--        Mail Server Tab Ends           -->
                <!--        Mail Templates Tab Starts           -->
                <div class="accordion-item p-2">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#mailTemplatesTab" aria-expanded="true"
                                aria-controls="mailTemplatesTab">
                            Mail Templates
                        </button>
                    </h2>
                    <div id="mailTemplatesTab" class="accordion-collapse collapse show"
                         data-bs-parent="#formAccordion">
                    </div>
                </div>
                <!--        Mail Templates Tab Ends           -->
                <!--        Payment Tab Starts           -->
                <div class="accordion-item p-2">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#paymentTab" aria-expanded="true"
                                aria-controls="paymentTab">
                            Payment
                        </button>
                    </h2>
                    <div id="paymentTab" class="accordion-collapse collapse show"
                         data-bs-parent="#formAccordion">
                    </div>
                </div>
                <!--        Payment Tab Ends           -->
            </div>
        </div>
    </div>
</div>

</body>
</html>