<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">
<head th:replace="~{fragment/head :: head}">
</head>
<body>
<nav th:replace="~{fragment/navbar :: navbar}"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h1>Name : <span th:text="${product.name}"></span></h1>
            <p>Role: <span th:text="${product.shortDescription}"></span></p>
            <a th:href="@{'/products'}" class="btn btn-primary">Products Page</a>
        </div>
    </div>
</div>
<footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
</html>