<div id="countriesTab" class="accordion-collapse collapse"
     data-bs-parent="#formAccordion" th:fragment="countrySetting(countries)">
    <form th:action="@{/settings/save_country}" class="row p-2" method="post">
        <div class="col-12 d-flex">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="text" name="name" placeholder="Country Name"
                   class="form-control" required/>
            <input type="text" name="code" placeholder="Country Code"
                   class="form-control ms-1" required/>
            <button type="submit" class="btn btn-primary ms-1">Add</button>
        </div>
    </form>
    <div class="row p-2" style="height: 300px;overflow: auto">
        <ul class="list-group list-group-flush bg-light p-2">
            <li th:each="c:${countries}" class="d-flex justify-content-between list-group-item">
                <div>
                    <span class="fs-5" th:text="${c.name}"></span> | <span th:text="${c.code}"
                                                                           class="text-muted"></span>
                </div>
                <a class="btn btn-danger ms-1" th:href="@{|/settings/delete_country/${c.name}|}">Delete</a>
            </li>
        </ul>
    </div>
</div>