<div class="tab-pane fade p-3" id="statesTabContent" role="tabpanel" aria-labelledby="statesTab"
     th:fragment="stateSetting(countries,states)">
    <form th:action="@{/settings/save_state}" class="row p-2" method="post">
        <div class="col-12 d-flex">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="text" name="name" placeholder="State Name"
                   class="form-control" required/>
            <select class="form-control ms-1" name="country" required>
                <option th:each="c:${countries}" th:value="${c.name}" th:text="${c.name}">
                </option>
            </select>
            <button type="submit" class="btn btn-primary ms-1">Add</button>
        </div>
    </form>
    <div class="row p-2" style="height: 300px;overflow: auto">
        <ul class="list-group list-group-flush bg-light p-2">
            <li th:each="s:${states}" class="d-flex justify-content-between list-group-item">
                <div>
                    <span class="fs-5" th:text="${s.name}"></span> | <span
                        th:text="${s.country}"
                        class="text-muted"></span>
                </div>
                <a class="btn btn-danger ms-1"
                   th:href="@{|/settings/delete_state/${s.id}|}">Delete</a>
            </li>
        </ul>
    </div>
</div>