<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
     th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{'/'}"> <img
                th:src="@{|/images/logo/${SITE_LOGO}|}" alt="logo" width="50" height="50"/>
            <span th:text="${SITE_NAME}"></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-4">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{'/categories'}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{'/brands'}">Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{'/cart'}">
                        <img th:src="@{'/image/cart.png'}" alt="card" class="icon" title="cart"/>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle d-flex align-items-center"
                            href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"
                    >
                        <img th:src="@{'/images/customer/' + ${#authentication.principal.customer.photo}}"
                             alt="customer"
                             class="rounded icon"/>
                        <span th:text="${#authentication.principal.customer.getFullName()}" class="ms-1"></span>

                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               th:href="@{'/customer/profile?id='+${#authentication.principal.customer.id}}">Profile</a>
                        </li>
                        <li><a class="dropdown-item"
                               th:href="@{'/customer/profile?id='+${#authentication.principal.customer.id}}">Address
                            Book</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item"
                               th:href="@{'/customer/change_password_page?id='+${#authentication.principal.customer.id}}">Change
                            Password</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="nav-item">
                            <form th:action="@{/logout}" method="post">
                                <input type="hidden" th:name="${_csrf.parameterName}"
                                       th:value="${_csrf.token}"/>
                                <button type="submit" class="nav-link text-dark"
                                        aria-current="page">Logout
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>