<!-- Modal -->
<div
        class="modal fade"
        id="deleteConfirmationModal"
        tabindex="-1"
        aria-labelledby="deleteConfirmationModalLabel"
        aria-hidden="true"
        th:fragment="deleteConfirmationModal"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Do you surely want to delete this data?
            </div>
            <div class="modal-footer">
                <a id="confirmDeleteBtn" class="btn btn-primary">Yes</a>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>