<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">
<head th:replace="~{fragment/head :: head}">
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="~{fragment/unauthorizedNavbar :: unauthorizedNavbar}"></nav>
<div class="container flex-grow-1">
    <div class="row mt-4">
        <div class="col-md-5 mx-auto card p-2">
            <div th:if="${error}"
                 class="alert alert-danger my-2 text-center" th:text="${message}">
            </div>
            <div th:if="${ok}"
                 class="alert alert-success my-2 text-center" th:text="${message}">
            </div>
            <form th:action="@{/customer/validate_email_send_token}">
                <label for="email" class="display-5">Please Enter Your Email</label>
                <input type="email" name="email" id="email" class="form-control"/>
                <br/>
                <input type="submit" value="Send Link" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
</html>